body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  } 
  
  #counter {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
    color: #333;
  }
  #cookie {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    display: none; 
  }
.J1{
    background-color: yellow;
}
.J2{
    background-color: green;
}
.J3{
    background-color: darkgray;
}
.J4{
    background-color: orange;
}
.J5{
    background-color: red;
}
.J6{
    background-color: rgb(5, 33, 41);
}
.J7{
    background-color: purple;
}
.J8{
    background-color: rgb(219, 121, 147);
}
.J9{
    background-color: black;
}
.J10{
    background-color: white;
}